<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Админ панель</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="MobileOptimized" content="width" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="robots" content="noindex" />

		<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css">
        <link rel="stylesheet" href="dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/admin.css">

		<script type="text/javascript" src="dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="javascripts/admin.js"></script>
	</head>

	<body onload="init();">
        <div class="container">
            <div class="d-flex justify-content-around m-3 align-items-center">
                <h1>Admin панель</h1>
                <form action="/admin/logOut" method="POST">
                    <input class="btn btn-outline-danger" type="submit" value="Выход">
                </form>
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="nav-main-tab" data-bs-toggle="pill" data-bs-target="#nav-main" type="button" role="tab" aria-controls="nav-main" aria-selected="true">Основные настройки</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-project-tab" data-bs-toggle="pill" data-bs-target="#nav-project" type="button" role="tab" aria-controls="nav-project" aria-selected="false">Проекты</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">
                    <h3>Основные настройки</h3>
                    <div class="overflow-auto">
                        <form action="/admin/change-login" method="POST">
                            <table id="cred" class="table table-striped">
                                <tr>
                                    <td>Логин</td>
                                    <td><p><%- data.cred.user %></p><input class="form-control col hid" type="text" id="user" name="user" value="<%- data.cred.user %>"></td>
                                    <td><a class = "edit-cread btn btn-outline-warning">Редактировать</a></td>
                                </tr>
        
                                <tr>
                                    <td>Пароль</td>
                                    <td><p><%- data.cred.pass %></p><input class="form-control col hid" type="text" id="pass" name="pass" value="<%- data.cred.pass %>"></td>
                                    <td><a class = "edit-cread btn btn-outline-warning">Редактировать</a></td>
                                </tr>

                                <tr>
                                    <td>Телефон</td>
                                    <td><p><%- data.phone %></p><input class="form-control col hid" type="text" id="phone" name="phone" value="<%- data.phone %>"></td>
                                    <td><a class = "edit-cread btn btn-outline-warning">Редактировать</a></td>
                                </tr>

                                <tr>
                                    <td>Эл. почта</td>
                                    <td><p><%- data.email %></p><input class="form-control col hid" type="text" id="email" name="email" value="<%- data.email %>"></td>
                                    <td><a class = "edit-cread btn btn-outline-warning">Редактировать</a></td>
                                </tr>
                            </table>
                            <input id="save-cred" type="submit" value="Сохранить" class="btn btn-outline-secondary" disabled="disabled">
                        </form>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab">
                    <h3>Проекты</h3>
    				<div class="overflow-auto">
                        <table class="table table-striped">
                            <tbody>
                                <% data.projects.forEach((item, indx) => { %>
                                <tr>
                                    <td><%- indx + 1 %></td>
                                    <td><%- item.name %></td>
                                    <td>
                                        <form action="/admin/remove-project" method="POST">
                                            <input type="hidden" name="name" value="<%- item.name%>">
                                            <input type="submit" value="удалить" class = "btn btn-outline-danger">
                                        </form>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    
                    <form encType="multipart/form-data" action="/admin/add-project" class="m-1 hid" id="add-project-form" method="POST">
                        <div class="row mt-5">
                            <div class="col-12 mt-2" data-validate="Введите название проекта">
                                <input type="text" name="name" class="add-project inpt form-control" placeholder="Название проекта">
                            </div>
                            <div class="col-12 mt-3 custom-file" data-validate="Выберите фото">
                                <label for="photos" class="form-label">Фото проекта</label>
                                <input class="add-project form-control" type="file"  name="photos" id="photos" multiple>
                            </div>
                            <div class="col-12 mt-3 custom-file" data-validate="Выберите видео">
                                <label for="videos" class="form-label">Видео проекта</label>
                                <input class="add-project form-control" type="file"  name="videos" id="videos" multiple>
                            </div>
                            <div class="col-12 mt-4">
                                <textarea rows="6" class="add-project form-control" name="description" placeholder="Описание проекта"></textarea>
                            </div>
                        </div>
                        <input id="submmit-project" type="submit" value="Сохранить" class ="m-3 btn btn-outline-secondary" disabled="disabled">
                    </form>
                    
                    <div class="m-5 d-flex justify-content-center">
                        <button id="add-project" class="btn btn-outline-success">Добавить проект</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="warning-modal" tabindex="-1" aria-labelledby="warning-modal-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="warning-modal-title">Внимание</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="warning-modal-body" class="modal-body">
                        Поддерживаемые форматы для фото: 'JPEG', 'JPG', 'PNG', 'GIF', 'SVG<br>
                        Поддерживаемые форматы для видео: 'MP4', 'M4P', 'M4V', 'GIF', 'MPG', 'MPEG', 'MPV', 'MP2', 'AVI', 'WMV' <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>
