<div class="footer d-flex flex-wrap position-relative">
    <div class="footer-background position-absolute top-0"></div>
    <div class="footer-filter position-absolute top-0"></div>
    <div class="col-lg-3 col-12 d-flex flex-column flex-lg-column flex-sm-column flex-md-row">
        <div class="header p-3">
            <a class="brand" href=""><img style="filter: drop-shadow(0px 0px 6px black);" class="logo" border="0" alt="логоип дизайнерский ремонт под ключ" src="images/logo.svg"></a>
        </div>
        <p class="copyright p-3">
            "Ремонт Под Ключ" – дизайн интерьеров, строительство, ремонт и отделка квартир, домов, офисов и других коммерческих помещений. <br>
            ИП Еремеев Д.В. УНП 790514263
        </p>
        <p class="privacy p-3">
            © <%- new Date().getFullYear() %>. Все права защищены. Вся информация, изложенная на сайте,
             не является публичной офертой, определенной в <a style="border-radius: 10px; color: white;" target="_blank" href="https://pravo.by/">ст. 407 ГК РБ.</a>
        </p>
    </div>
    <div class="col-lg-3 col-12 d-flex flex-column flex-lg-column flex-sm-column flex-md-row">
        <%- include('_form') %>
    </div> 
    <div class="col-lg-3 col-12 d-flex flex-column flex-lg-column flex-sm-column flex-md-row">
        <h5 class="text-center  p-3">Главное меню</h5>
        <div class="p-4 d-flex flex-column">
            <a class="item ajax" href="/index">Главная</a>
            <a class="item ajax" href="/repair-flat">Дизайнерский ремонт</a>
            <a class="item ajax" href="/repair-house">Ремонт под ключ</a>
            <a class="item ajax" href="/projects">Наши работы</a>
            <a class="item ajax" href="/about">О нас</a>
        </div>
    </div> 
    <div class="col-lg-3 col-12 d-flex flex-column flex-lg-column flex-sm-column flex-md-row">
        <div class="footer-contact p-3">
            <div class="mb-3">
                <a class="button primary" href="tel:<%-data.phone%>">
                    <i class="fas fa-phone jump" style="padding-right: 10px;"></i>
                    <%-data.phone%>
                </a>
            </div>
            <div class="mb-3">
                <a class="button secondary" data-bs-toggle="modal" data-bs-target="#subscription-modal">
                    <i class="fab fa-wpforms jump" style="padding-right: 10px;"></i>
                    Заказать звонок
                </a>
            </div>
            <div class="mb-3">
                <a class="button secondary" href="mailto:<%-data.email%>">
                    <i class="fas fa-envelope jump" style="padding-right: 10px;"></i>
                    <%-data.email%>
                </a>
            </div>
        </div> 
        <div class="footer-info p-3">
            <div>
                <span>Консультации</span> 
                <p>Ежедневно <br>с 9:00 до 20:00</p>
            </div>
            <div>
                <span>Время работы офиса</span> 
                <p>Будние дни <br>с 9:00 до 20:00</p>
            </div>           
        </div>
    </div>
</div>