<div id="start" class="background">	
	<div class="gradient"></div>
	<div id="main-background" class="box <%= state %>"></div>

	<div class="main-name">
		<div class="text-box">
			<h1 style="margin: 0;">Ваш дизайнерский ремонт под ключ</h1>
			<p>
				Более 15 лет на рынке <strong>строительных услуг</strong>. 
				<strong>Высокие стандарты качества</strong> позволили занять нам лидирующие позиции. Наше кредо - "Любую работу нужно делать хорошо или не делать вовсе"
			</p>

			<div class="link-box">
				<div><a class="button primary" href="tel:<%-data.phone%>"><i class="fas fa-phone jump" style="padding-right: 10px;"></i><%-data.phone%></a></div>
				<div><a class="button secondary" data-bs-toggle="modal" data-bs-target="#subscription-modal"><i class="fab fa-wpforms jump" style="padding-right: 10px;"></i>Заказать звонок</a></div>
			</div>
		</div>
	</div>
</div>

<div class="nav-mobile">
	<div class="logo-box">
		<div class="header">
			<a class="brand" href=""><img class="logo" border="0" alt="логоип дизайнерский ремонт под ключ" src="images/logo.svg"></a>
		</div>

		<div class="icon position-relative">
			<div class="position-absolute w-100 h-100 toggle-button"></div>
			<a class="toggle">
				<div class="pbot">
						<span class="bot spanfirstOpen">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

								<path d="M2 16 L30 16"></path>

							</svg>
						</span>
						<span class="bot botM spanmidleOpen">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

								<path d="M2 16 L30 16"></path>

							</svg>
						</span>
						<span class="bot botL spanlastOpen">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

								<path d="M2 16 L30 16"></path>

							</svg>
						</span>
				</div>
			</a>
		</div>
	</div>

	<div class="items ajax">
		<a class="item ajax mobile-item" href="/index">Главная</a>
		<a class="item ajax mobile-item" href="/repair-flat">Дизайнерский ремонт</a>
		<a class="item ajax mobile-item" href="/repair-house">Ремонт под ключ</a>
		<a class="item ajax mobile-item" href="/projects">Галерея</a>
		<a class="item ajax mobile-item" href="/about">О нас</a>
	</div>
	<div class="link-box">
		<div>
			<a class="button primary mobile-item" href="tel:<%-data.phone%>"><i class="fas fa-phone jump" style="padding-right: 10px;"></i>
				<%-data.phone%>
			</a>
		</div>
		<div>
			<a class="button secondary mobile-item" data-bs-toggle="modal" data-bs-target="#subscription-modal">
				<i class="fab fa-wpforms jump" style="padding-right: 10px;"></i>Заказать звонок
			</a>
		</div>
	</div>
</div>

<nav class="nav-menu">
	<a class="item ajax" href="/index">Главная</a>
	<a class="item dropdown">Дизайнерский ремонт</a>
	<div class="header">
		<a class="brand" href=""><img class="logo" border="0" alt="логоип дизайнерский ремонт под ключ" src="images/logo.svg"></a>
	</div>
	<a class="item ajax" href="/projects">Галерея</a>
	<a class="item ajax" href="/about">О нас</a>

	<div class="icon position-relative">
		<div class="position-absolute w-100 h-100 toggle-button"></div>
		<a class="toggle">
			<div class="pbot">
					<span class="bot">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

							<path d="M2 16 L30 16" />

						</svg>
					</span>
					<span class="bot botM">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

							<path d="M2 16 L30 16" />

						</svg>
					</span>
					<span class="bot botL">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

							<path d="M2 16 L30 16" />

						</svg>
					</span>
			</div>
		</a>
	</div>
</nav>

<nav class="fixed-menu">
	<a class="item ajax" href="/index">Главная</a>
	<a class="item dropdown">Дизайнерский ремонт</a>
	<div class="header">
		<a class="brand" href=""><img class="logo" border="0" alt="логоип дизайнерский ремонт под ключ" src="images/logo.svg"></a>
	</div>
	<a class="item ajax" href="/projects">Галерея</a>
	<a class="item ajax" href="/about">О нас</a>

	<div class="icon position-relative">
		<div class="position-absolute w-100 h-100 toggle-button"></div>
		<a class="toggle">
			<div class="pbot">
					<span class="bot">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

							<path d="M2 16 L30 16" />

						</svg>
					</span>
					<span class="bot botM">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

							<path d="M2 16 L30 16" />

						</svg>
					</span>
					<span class="bot botL">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">

							<path d="M2 16 L30 16" />

						</svg>
					</span>
			</div>
		</a>
	</div>
</nav>
<div id="link-dropdown" class="link-dropdown list">
	<a class="item ajax mobile-item list" href="/repair-flat">Дизайнерский ремонт</a>
	<a class="item ajax mobile-item list" href="/repair-house">Ремонт под ключ</a>
</div>

<div id="fixed-links" class="fixed-link-box link-box">
	<div>
		<a title="Позвонить" aria-label="Позвонить" class="button primary" href="tel:<%-data.phone%>"><i class="fas fa-phone jump"></i></a>
	</div>
	<div>
		<a title="Связаться" aria-label="Связаться" class="button secondary" data-bs-toggle="modal" data-bs-target="#subscription-modal">
			<i class="fab fa-wpforms jump"></i>
		</a>
	</div>
</div>
