<div class="modal-header">
    <h5 class="modal-title" id="header-label"><%- name %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div id="project-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="<%- images[0].src %>" class="image-source" alt="<%- name %>">
            </div>
            <% for(let i = 1; i < images.length; i++) { %>
                <div class="carousel-item">
                    <img src="<%- images[i].src %>" class="image-source" alt="<%- name %>">
                </div>
            <%}%>
            <% videos.forEach(video => { %>
                <div class="carousel-item">
                    <video controls="controls" poster="images/icons/video.svg">
                        <source src="<%- video.src %>" type="video/<%- video.ext %>">
                        Видео не поддерживается вашим браузером. 
                    </video>
                </div>
            <%})%>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#project-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#project-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="modal-footer"></div>